.confirm-dialog-container[b-xapl5xfihq]{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    min-height:100rem;
    min-width:100rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgba(0,0,0,0.5);
    z-index:2000;
}

.confirm-dialog[b-xapl5xfihq] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50rem;
    min-height: 20rem;
    margin-top:5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    position: fixed;
}